node_modules
.next
out
build
dist
.git
.github
.env
.env*.local
.idea
.vscode
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
docker-compose.yml
Dockerfile
.dockerignore
LICENSE
README.md
test
.eslintcache
